{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}!{% endblock %}

{% block body %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="container">
                <div class="flex-wrap">
                <div class="container text-center">
                <h3>Hello Admin !</h3>
                    <div class="row justify-content-center">
                <div class="col-12">

                <h2>Ajouts / Create</h2>
                <div class="accordion border-info border" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 font-weight-light text-center">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Ajouts d'un Magasin
                            </button>
                          </h2>
                    <div class="card-body">
                    </div>
                </div>
                </div>

                <div id="collapseOne" class="collapse border-default" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div style="border-radius: 5px;
                        background-color: #f2f2f2;
                        padding: 20px;">
                            <form>
                              <label for="market_name_add">Name :</label>
                              <input type="text" id="market_name_add" name="firstname" placeholder="Store's name.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">

                              <label for="market_name_description">Description</label>
                              <input type="textarea" id="market_name_description" placeholder="Description.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">
                          
                              <label for="market_name_state">State :</label>
                              <select id="market_name_state" name="country" style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">
                                <option value="enabled">Enabled</option>
                                <option value="disabled">Deactivated</option>
                              </select>
                            
                              <input type="submit" value="Submit" id="submitmag" onmouseover="this.style.background='#45a049';" onmouseout="this.style.background='#4CAF50';"
                              style="  width: 100%;
                              background-color: #4CAF50;
                              color: white;
                              padding: 14px 20px;
                              margin: 8px 0;
                              border: none;
                              border-radius: 4px;
                              cursor: pointer;">
                            </form>
                          </div>
                          
                    </div>
                  </div>

                  <!-- ////////////////////////////    Items     \\\\\\\\\\\\\\\\\\\\\\\\-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 font-weight-light text-center">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                              Ajouts d'un Produit
                            </button>
                          </h2>
                    <div class="card-body">
                    </div>
                </div>
                </div>

                <div id="collapseTwo" class="collapse border-default" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div style="border-radius: 5px;
                        background-color: #f2f2f2;
                        padding: 20px;">
                            <form method="post" id="form_add_item">
                              <label for="item_add_name">Name :</label>
                              <input type="text" id="item_add_name" name="name" placeholder="Product Name.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;" />

                              <label for="price_add">Price :</label>
                              <input type="textarea" name="price" id="price_add" placeholder="10 €.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;" />

                              <label for="weight_add">Weight :</label>
                              <input type="text" name"poids" id="weight_add" placeholder="1 Kg..." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;" />

                              <label for="magasin_add">Market :</label>
                              <select id="magasin_add" name="store" style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;" />
                              <option value="0">No seller</option>
                              {% for store in all_store %}
                                <option value="{{ store.getid()|e }}">{{ store.getname()|e }}</option>
                                {% endfor %}
                              </select>
                            
                              <input type="file" id="img_add" name="file_input" />
                              
                              <input type="submit" value="Submit" id="submititem" onmouseover="this.style.background='#45a049';" onmouseout="this.style.background='#4CAF50';"
                              style="  width: 100%;
                              background-color: #4CAF50;
                              color: white;
                              padding: 14px 20px;
                              margin: 8px 0;
                              border: none;
                              border-radius: 4px;
                              cursor: pointer;" />
                            </form>
                          </div>
                          
                    </div>
                  </div>

                </div>


                <!-- ////////////////////         Modifications            \\\\\\\\\\\\\\\\\\\\\ -->
                <h2>Modifications</h2>
                <div class="accordion border-info border" id="accordion">
                <div class="card">
                    <div class="card-header" id="headingmodifOne">
                        <h2 class="mb-0 font-weight-light text-center">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsemodifOne" aria-expanded="true" aria-controls="collapsemodifOne">
                              Modif des Magasin
                            </button>
                          </h2>
                    <div class="card-body">
                    </div>
                </div>
                </div>

                <div id="collapsemodifOne" class="collapse border-default" aria-labelledby="headingmodifOne" data-parent="#accordion">
                    <div class="card-body">
                        <div style="border-radius: 5px;
                        background-color: #f2f2f2;
                        padding: 20px;">
                            <form>
                              <label for="name">Name :</label>
                              <input type="text" id="name" name="firstname" placeholder="Store's name.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">

                              <label for="description">Description</label>
                              <input type="textarea" id="description" placeholder="Description.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">
                          
                              <label for="state">State :</label>
                              <select id="state" name="country" style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">
                                <option value="enabled">Enabled</option>
                                <option value="disabled">Deactivated</option>
                              </select>
                            
                              <input type="submit" value="Submit" id="submitmag_modify" onmouseover="this.style.background='#45a049';" onmouseout="this.style.background='#4CAF50';"
                              style="  width: 100%;
                              background-color: #4CAF50;
                              color: white;
                              padding: 14px 20px;
                              margin: 8px 0;
                              border: none;
                              border-radius: 4px;
                              cursor: pointer;">
                            </form>
                          </div>
                          
                    </div>
                  </div>

                <!-- ////////////////////////////    Items     \\\\\\\\\\\\\\\\\\\\\\\\-->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 font-weight-light text-center">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsemodifTwo" aria-expanded="true" aria-controls="collapsemodifTwo">
                              Modif d'un Produit
                            </button>
                          </h2>
                    <div class="card-body">
                    </div>
                </div>
                </div>

                <div id="collapsemodifTwo" class="collapse border-default" aria-labelledby="headingmodifTwo" data-parent="#accordion">

                    {% for items in all_items %}
                    <div class="card-body mx-auto" style="width: 50%;">
                        <div style="border-radius: 5px;
                        background-color: #f2f2f2;
                        padding: 20px;">
                        <img src="{{asset('/images/')}}{{items.getImage()}}" alt="..." class="img-thumbnail"/>
                            <form>
                              <input type="text" class="hidden_modify_item" id="{{ items.getid() }}" hidden value="{{ items.getid() }}">

                              <label for="name_item">Name :</label>
                              <input type="text" class="name_item_modify" id="{{ items.getid() }}" name="firstname" placeholder="Product Name.." value="{{ items.name() }}" style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">

                              <label for="price">Price</label>
                              <input type="textarea" class="price_item_modify" id="{{ items.getid() }}" value="{{ items.price() }}" placeholder="10 €.." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">

                              <label for="weight">Weight</label>
                              <input type="textarea" class="weight_item_modify" id="{{ items.getid() }}" value="{{ items.weight() }}" placeholder="1 Kg..." style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">

                              <label for="magasin_item_modify">Market :</label>
                              <select class="magasin_item_modify" name="magasin_input_item_modify"  id="{{ items.getid() }}" style="width: 100%;
                              padding: 12px 20px;
                              margin: 8px 0;
                              display: inline-block;
                              border: 1px solid #ccc;
                              border-radius: 4px;
                              box-sizing: border-box;">
                              {% for store in all_store %}
                              {% for astore in items.getFkStore() %}
                                {% if astore.getid() == store.getid() %}
                                <option value="{{ store.getid()|e }}" selected>{{ store.getName() }}</option>
                                {% else %}
                                <option value="{{ store.getid()|e }}">{{ store.getName() }}</option>
                                {% endif %}
                              {% endfor %}
                                {% endfor %}
                              </select>
                            
                              <input type="submit" value="Submit" class="submititemodify" id="{{ items.getid() }}" onmouseover="this.style.background='#45a049';" onmouseout="this.style.background='#4CAF50';"
                              style="  width: 100%;
                              background-color: #4CAF50;
                              color: white;
                              padding: 14px 20px;
                              margin: 8px 0;
                              border: none;
                              border-radius: 4px;
                              cursor: pointer;">
                              <input type="file" name="image" class="img_item_modify" id="{{ items.getid() }}">
                            </form>

                          </div>
                          
                    </div>
                    {% endfor %}

                  </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

    {% else %}
            <li><a href="{{ path('home_page') }}"> No right to be there ! </a></li>
        {% endif %}
        {# ... #}
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
$('#submitmag').click(function(e) {
          e.preventDefault();

            var nom = $('#market_name_add').val();
            var description = $('#market_name_description').val();
            var etat;
            if ($('#market_name_state').val() == "enabled") {
                etat = 1;
            }
            else {
                etat = 0;
            }
            var store = {'name' : nom, 'description' : description, 'state' : etat};
            //alert(nom);
            if (nom != "")
                $.ajax({
                    type: 'POST',
                    url: "{{ path('store_create_ajax') }}",
                    data: store,
                    success : function(result) {
                        //alert(JSON.stringify(result)); // result is an object which is created from the returned JSON
                        console.log("gg1");
                    },
                    error: function (e) {
                        //alert('Error ' + JSON.stringify(e));
                    }
                });
        });

        $('#submititem').click(function(e) {
            e.preventDefault();
            //Ajout d'un produit

            if ($('#item_add_name').val() != "") {
                var formData = new FormData();
                formData.append("name", $('#item_add_name').val());
                formData.append("price", $('#price_add').val());
                formData.append("weight", $('#weight_add').val());
                formData.append("store", $('#magasin_add').val());
                var file = $("#img_add").prop('files')[0];
                formData.append('photo', file, file.name);
                //var form = document.getElementById("form_add_item");
                
                //var form = $("#form_add_item")[0];
                //form.append("Poids", $('#weight_add').val());
                $.ajax({
                    type: 'POST',
                    url: "{{ path('item_create_ajax') }}",
                    data: formData,
                    //data: new FormData(form),// the formData function is available in almost all new browsers.
                    contentType: false,   // indique à jQuery de ne pas configurer le contentType
                    processData: false,  // indique à jQuery de ne pas traiter les données
                    cache:false,
                    dataType:"json", // Change this according to your response from the server.
                    success : function(result) {
                        //alert(JSON.stringify(result)); // result is an object which is created from the returned JSON
                        console.log("gg");
                    },
                    error: function (e) {
                        //alert('Error ' + JSON.stringify(e));
                    }
                });
            }
            });

            $('.submititemodify').click(function(e) {
              e.preventDefault();
              //alert(this.id);
              //alert("console log ggg  " + $('#'+this.id+'.name_item_modify').val());
            if ($('#'+this.id+'.name_item_modify').val() != "") {
              var formData = new FormData();
              formData.append("id", $('#'+this.id+".hidden_modify_item").val());
              formData.append("name", $('#'+this.id+'.name_item_modify').val());
              formData.append("price", $('#'+this.id+'.price_item_modify').val());
              formData.append("weight", $('#'+this.id+'.weight_item_modify').val());
              formData.append("store", $('#'+this.id+'.magasin_item_modify').val());
              var file = $('#'+this.id+".img_item_modify").prop('files')[0];
              if (file)
                formData.append('photo', file, file.name);
              $.ajax({
                  type: 'POST',
                  url: "{{ path('item_modify_ajax') }}",
                  data: formData,
                  //data: new FormData(form),// the formData function is available in almost all new browsers.
                  contentType: false,   // indique à jQuery de ne pas configurer le contentType
                  processData: false,  // indique à jQuery de ne pas traiter les données
                  cache:false,
                  dataType:"json", // Change this according to your response from the server.
                  success : function(result) {
                      //alert(JSON.stringify(result)); // result is an object which is created from the returned JSON
                      console.log("gg");
                  },
                  error: function (e) {
                      //alert('Error ' + JSON.stringify(e));
                  }
              });
          }
    });
  });
</script>
{% endblock %}