{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}!{% endblock %}

{% block body %}
<h1>{{ page_title }}!</h1>
        {#{% if user.isLoggedIn %}
            Hello {{ user.name }}!
        {% endif %}#}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_page') }}"> Go to Admin Panel ? </a></li>
            {% else %}
            <li><a href="{{ path('user_page') }}"> Go to your profile ? </a></li>
        {% endif %}
        {# ... #}
{% endblock %}
