{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
{# templates/registration/register.html.twig #}

{{ form_start(form) }}
    <div style="margin-top: 100px; margin-left: 500px;">

        {{ form_row(form.username) }}
        </br>
        </br>
        {{ form_row(form.email) }}
        </br>
        </br>
        {{ form_row(form.plainPassword.first) }}
        </br>
        </br>
        {{ form_row(form.plainPassword.second) }}
        </br>
        </br>
        <button type="submit">Register!</button>
    </div>
{{ form_end(form) }}
{% endblock %}